<!-- Begin Site-Navigation -->
<div id="navigation-new">
    <ul>
        <li><a href="{{.Site.BaseURL}}/resources/">recursos</a></li>
        <li><a href="{{.Site.BaseURL}}/support">soporte</a></li>
        <li><a href="{{.Site.BaseURL}}/learn">formación</a></li>
        <li><a href="{{.Site.BaseURL}}/community">comunidad</a></li>
        <li><a href="{{.Site.BaseURL}}/news">noticias</a></li>
        <li><a href="{{.Site.BaseURL}}/new">características</a></li>
        <li><a href="{{.Site.BaseURL}}/gallery">galería</a></li>
        <li><a href="{{.Site.BaseURL}}/download">descargar</a></li>
        <li><a href="{{.Site.BaseURL}}/sales">comprar</a></li>
    </ul>
</div>
<!-- End Site-Navigation -->