<!-- Begin Site-Navigation -->
<div id="navigation-new">
    <ul>
        <li><a href="{{.Site.BaseURL}}/resources/">resources</a></li>
        <li><a href="{{.Site.BaseURL}}/support">support</a></li>
        <li><a href="{{.Site.BaseURL}}/learn">learn</a></li>
        <li><a href="{{.Site.BaseURL}}/community">community</a></li>
        <li><a href="{{.Site.BaseURL}}/news">news</a></li>
        <li><a href="{{.Site.BaseURL}}/new">features</a></li>
        <li><a href="{{.Site.BaseURL}}/gallery">gallery</a></li>
        <li><a href="{{.Site.BaseURL}}/download">download</a></li>
        <li><a href="{{.Site.BaseURL}}/sales">buy</a></li>
    </ul>
</div>
<!-- End Site-Navigation -->
